name: CI E2E

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

defaults:
  run:
    shell: bash

jobs:
  e2e-individual-mode:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup golang
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
    - name: Kind version check
      run: kind version
    - name: Create and setup K8S kind cluster
      run: make ci-kind-setup-individual-mode
    - name: Run E2E tests
      run: KUBECONFIG=${HOME}/.kube/config make test-e2e-individual-mode
    - name: Show logs on failure
      if: ${{ failure() }}
      run: |
        kubectl get pods -A -o wide
  e2e-grouped-mode:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup golang
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
    - name: Kind version check
      run: kind version
    - name: Create and setup K8S kind cluster
      run: make ci-kind-setup-grouped-mode
    - name: Run E2E tests
      run: KUBECONFIG=${HOME}/.kube/config make test-e2e-grouped-mode
    - name: Show logs on failure
      if: ${{ failure() }}
      run: |
        kubectl get pods -A -o wide
